.footer {
	position: relative;
	width: 100vw;
	overflow-x: hidden;
	overflow-y: visible;
	height: 100vh;
	padding-top: 13vh;
	font-size: 10vw;
	color: white;
	z-index: 60;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 200px;
	&__wrapper {
		position: relative;
		width: 100vw;
		display: flex;
		flex-direction: column;
		gap: 5vh;
	}
	&__solar-system {
		position: absolute;
	}
	&__text-container {
		text-wrap: nowrap;
		opacity: 0;
		height: 110px;
		overflow: hidden;
		font-family: "Merriweather", serif;
		font-style: normal;
		position: relative;
		&_1 {
			width: 531.56px;
			left: 50vw;
			transform: translate(-50%);
		}
		&_2 {
			width: 229.05px;
			left: calc(50vw + 6px);
			transform: translate(-50%);
		}
		&_3 {
			width: 304.31px;
			left: 50vw;
			transform: translate(-50%);
		}
	}
	&__text {
		display: block;
		height: 130px;
		font-size: 7rem;
		color: white;
		position: absolute;
		text-align: center;
		bottom: 0;
		left: 0;
		&_pc {
			display: inline;
		}
		&_phone {
			display: none;
		}
	}
}
@media (orientation: portrait) {
	.footer {
		padding-bottom: 0;
		&__wrapper {
			gap: 0%;
		}
		&__text-container {
			width: 100%;
		}
		&__text {
			top: 0;
			text-align: center;
			font-size: 10vw;
			transform: translate(-50%);
			left: 50vw;
			&_pc {
				display: none;
			}
			&_phone {
				display: inline;
			}
		}
	}
}
